@media(min-width: 801px) {
  body {
    grid-template:
      ". header ."
      ". main ."
      ". footer ."
      / 1fr 1fr 1fr;
  }
}

@media(max-width: 800px) {
  body {
    grid-template:
      ". header ."
      ". main ."
      ". footer ."
      / 1fr 6fr 1fr;
  }
}

body {
  display: grid;
  justify-items: stretch;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  font-size: 0.85em;
  font-weight: 300;
}

@media (prefers-color-scheme: no-preference) {
  body {
    background-color: #fafafa;
    color: #292929
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #FFFFE1
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fafafa;
    color: #292929
  }
}

#ribbon-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#ribbon {
  position: absolute;
  z-index: -1;
}

@media(min-width: 801px) {
  #ribbon {
    width: 200vw;
    height: 100vh;
    transform: translateY(-50vh) translateX(-80vw) rotate(-40deg)
  }
}

@media (prefers-color-scheme: dark) {
  #ribbon {
    background-color: #DF442C;
  }
}

@media (prefers-color-scheme: no-preference) {
  #ribbon {
    background-color: #2CDF89;
  }
}

@media (prefers-color-scheme: light) {
  #ribbon {
    background-color: #2CDF89;
  }
}

@media(max-width: 800px) {
  #ribbon {
    width: 130vw;
    height: 100vh;
    transform: translateY(-40vh) translateX(-60vw) rotate(50deg);
  }
}

@media (prefers-color-scheme: no-preference) {

  h1,
  h2,
  h3,
  h5 {
    color: #3A3A3A;
  }
}

@media (prefers-color-scheme: light) {

  h1,
  h2,
  h3,
  h5 {
    color: #3A3A3A;
  }
}

@media (prefers-color-scheme: dark) {

  h1,
  h2,
  h3,
  h5 {
    color: #FFFFCC;
  }
}

h1,
h2,
h3,
h5 {
  font-family: Georgia, serif;
  font-weight: 400;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.2em;
}

h1 a {
  padding-top: 10px;
}

@media(min-width:801px) {
  h1 a:hover {
    text-decoration: none;
  }
}

@media (prefers-color-scheme: dark) {
  @media(min-width:801px) {
    h1 a:hover {
      background-color: #2CDF89;
      color: #3A3A3A;
    }
  }
}

@media (prefers-color-scheme: no-preference) {
  @media(min-width:801px) {
    h1 a:hover {
      background-color: #DF442C;
      color: white;
    }
  }
}

@media (prefers-color-scheme: light) {
  @media(min-width:801px) {
    h1 a:hover {
      background-color: #DF442C;
      color: white;
    }
  }
}

h2 {
  font-size: 2em;
  margin-bottom: 0;
}

h3 {
  margin-top: 2em;
}

p {
  text-align: justify;
}

section,
article {
  margin-top: 3em
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li:before {
  content: '+';
  padding-right: 5px;
}

#grid-header {
  grid-area: header;
  margin-top: 35px;
}

#grid-main {
  grid-area: main;
}

footer {
  justify-items: start;
  grid-area: footer;
  margin-bottom: 5em;
}

.social-icon-buttons {
  border: none;
  background: transparent;
  margin: 5px 6px 0 0;
  padding: 0;
}

@media(max-width:800px) {
  .social-icon-buttons {
    margin: 15px 20px 0 0;
  }
}

@media(max-width:800px) {
  .social-icon-buttons svg {
    border: none;
    background: transparent;
    height: 19px;
    width: 19px;
  }
}

@media (prefers-color-scheme: no-preference) {
  svg {
    fill: #3A3A3A
  }
}

@media (prefers-color-scheme: light) {
  svg {
    fill: #3A3A3A
  }
}

@media (prefers-color-scheme: dark) {
  svg {
    fill: #FFFFCC
  }
}

svg:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  svg:hover {
    background-color: #2CDF89;
    fill: #3A3A3A;
  }
}

@media (prefers-color-scheme: no-preference) {
  svg:hover {
    background-color: #DF442C;
    fill: #FFFFCC;
  }
}

@media (prefers-color-scheme: light) {
  svg:hover {
    background-color: #DF442C;
    fill: #FFFFCC;
  }
}

#contact-email {
  text-decoration: none;
  margin-top: 20px;
}

#contact-email:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  a {
    text-decoration: none;
    color: #FFFFCC
  }
}

@media (prefers-color-scheme: no-preference) {
  a {
    text-decoration: none;
    color: #3A3A3A
  }
}

@media (prefers-color-scheme: light) {
  a {
    text-decoration: none;
    color: #3A3A3A
  }
}

@media(min-width:801px) {
  a:hover {
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  @media(min-width:801px) {
    a:hover {
      color: #2CDF89;
    }
  }
}

@media (prefers-color-scheme: no-preference) {
  @media(min-width:801px) {
    a:hover {
      color: #DF442C;
    }
  }
}

@media (prefers-color-scheme: light) {
  @media(min-width:801px) {
    a:hover {
      color: #DF442C;
    }
  }
}

code {
  text-justify: none;
  word-break: break-all;
}

@media (prefers-color-scheme: dark) {
  code {
    color: #2CDF89;
  }
}

@media (prefers-color-scheme: no-preference) {
  code {
    color: #DF442C;
  }
}

@media (prefers-color-scheme: light) {
  code {
    color: #DF442C;
  }
}

#article-footer {
  margin: 1em 0;
}

@media (prefers-color-scheme: dark) {
  #article-footer a {
    text-decoration: underline;
    color: #FFFFCC
  }

  #article-footer a:hover {
    text-decoration: none;
    color: #2CDF89
  }
}

@media (prefers-color-scheme: no-preference) {
  #article-footer a {
    text-decoration: underline;
    color: #3A3A3A
  }

  #article-footer a:hover {
    text-decoration: none;
    color: #DF442C
  }
}

@media (prefers-color-scheme: light) {
  #article-footer a {
    text-decoration: underline;
    color: #3A3A3A
  }

  #article-footer a:hover {
    text-decoration: none;
    color: #DF442C
  }
}

.indent-1 {
  margin: 0;
  padding: 0 0 0 20px;
}

.indent-2 {
  margin: 0;
  padding: 0 0 0 40px;
}

.indent-3 {
  margin: 0;
  padding: 0 0 0 60px;
}