body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 1fr 1fr 1fr;
  grid-template-areas: 
    ". header navheader ."
    ". main main ."
    ". main main ."
    ". footer footer .";
    grid-gap: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

#grid-header {
  /* grid-column: 2 / span 1; */
  grid-area:header;
  align-self:end;
}

#grid-header h1 {
  margin:0;
  color: #333;
}

#header-divider {
  margin: 4px 0 0 0;
  border: 0;
  height: 2px;
  background: #333;
  grid-area:main;
}

#social-icon-buttons {
  grid-area:navheader;
  place-self: end end;
}

footer {
  justify-items: start;
  grid-area: footer;
}

.social-icons {
  cursor:pointer;
  height: 33px;
  width: 33px;
}

.social-icon-buttons {
  border: none;
  background: transparent;
}